body{
    background-color:mediumpurple;
    background-image: url("../img/pexels-jess-loiterton-4784378.jpg");
    background-size: cover;
    
}
header{
    margin-top: 10%;
}
.titulo{
    color:rgb(88, 49, 65);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-inline: 10%;
    padding: 30px;
    background-color:rgb(235, 168, 235);
}
.line{
    text-align: justify;
}

.line h1{
    margin-bottom:5px;
    padding:1%;
}

.entrada {
    text-align:center;
    box-sizing: inline;
    background-color: rgb(219, 176, 245);
    margin-inline:10%;
    padding:5%;

}
.textos{
    box-sizing: block;
    margin-bottom:5%;
    font-size: larger;
}

.copyright{
    flex:auto;
    text-align: center;
    background-color:rgb(238, 190, 220);
    color:rgb(88, 49, 65);
    margin-inline:10%;
    padding: 30px;
    margin-bottom: 10%;
    
}

#mensaje{
    box-sizing: border-box;
    width:100%;
    height: 50px;;
    background-color: rgb(248, 203, 235);
    border-radius: 30px;
    border-color:rgb(182, 112, 247);
    padding:30px;
    font-size: medium;
    margin-bottom:3px;
}
#mensaje:hover{
    border-color: burlywood;
    box-shadow: 0px 0px 20px #f8b117;
    background-color: #f7c081;
}
#mensaje:active{
    border-color: rgb(189, 151, 80);
}

#encriptado{
    display: inline-flex;
    box-sizing: border-box;
    width:100%;
    min-height: 200px;
    background-color: rgb(238, 207, 228);
    border-radius: 30px;
    padding:30px;
    font-size: larger;
    word-break:break-all;
}
#advertencia{
    font-size: larger;
    color: #4f05d8;
    font-weight: bold;
}

#encriptar,#copiado{
    box-sizing: block;
}

button{
    color:rgb(0, 0, 0);
    background-color:mediumpurple;
    margin-block:1%;
    padding:1%;
    padding:2%;
    border-radius: 10px;
    border-color:darkviolet;
    font-size: large;
    color:rgb(243, 215, 231);
}
button:hover{
    border-color: darksalmon;
    box-shadow: 0px 0px 20px #f8b117;
    background-color: #f7c081;
    color:purple;
} 
button:active{
    background-color: rgb(241, 210, 192);
} 
.botonera{
    box-sizing: inline;
    text-align: center;
}
